<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tasks.css') }}">
  </head>

  <body>
    <header>
      <h1>My Tasks</h1>
      <nav>
        <ul>
          <li>
            <form action="{{ url_for('add_task') }}" method="get">
              <button>Add Task</button>
            </form>
          </li>
          <li>
            <form action="{{ url_for('analysis') }}" method="get">
              <button>Analysis Page</button>
            </form>
          </li>
          <li>
            <form action="{{ url_for('logout') }}" method="get">
              <button>Logout</button>
            </form>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <section>
        <h2>Active Tasks</h2>
        <table>
          <thead>
            <tr>
              {% for column_name in todo_tasks[0] %}
                <th>{{ column_name }}</th>
              {% endfor %}
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
            {% for row in todo_tasks %}
              <tr>
                {% for cell in row %}
                  <td>{{ row[cell] }}</td>
                {% endfor %}
                <td>
                  <form action="{{ url_for('view_edit_task') }}" method="post">
                    <button>Edit</button>
                    <input type="hidden" name="task_id" value="{{ row['id'] }}">
                  </form>
                  <form action="{{ url_for('finish_task') }}" method="post">
                    <button>Done</button>
                    <input type="hidden" name="task_id" value="{{ row['id'] }}">
                  </form>
                  <form action="{{ url_for('delete_task') }}" method="post">
                    <button>Delete</button>
                    <input type="hidden" name="task_id" value="{{ row['id'] }}">
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>

      <section>
        <h2>Done Tasks</h2>
        <table>
          <thead>
            <tr>
              {% for column_name in done_tasks[0] %}
                <th>{{ column_name }}</th>
              {% endfor %}
            </tr>
          </thead>

          <tbody>
            {% for row in done_tasks %}
              <tr>
                {% for cell in row %}
                  <td>{{ row[cell] }}</td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
    </main>
  </body>
</html>
